################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Contact system/.vs/Contact system/v16/Browse.VC.db
/Contact system/.vs/Contact system/v16/Browse.VC.opendb
